<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="/Projects/Pulsar Industry/Commesse/NuGet" />
    <add key="globalPackagesFolder" value="/Projects/Pulsar Industry/Commesse/NuGet" />
  </config>
  <settings>
    <repositoryPath>/Projects/Pulsar Industry/Commesse/NuGet</repositoryPath>
  </settings>
</configuration>