<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="minidom.PBX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="minidom.PBX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <minidom.PBX.My.MySettings>
            <setting name="LastPrefix" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastDialerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="AsteriskServers" serializeAs="String">
                <value/>
            </setting>
            <setting name="BackEnd" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTPLimitOutSent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastFaxPrefix" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="registerprotocol" serializeAs="String">
                <value>True</value>
            </setting>
        </minidom.PBX.My.MySettings>
    </userSettings>
    <applicationSettings>
        <minidom.PBX.My.MySettings>
            <setting name="FoldersToWatch" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.minidom.net</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SMTPUserName" serializeAs="String">
                <value>dialtp@dmdstore.it</value>
            </setting>
            <setting name="APPUserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="APPPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTPDisplayName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTPSubject" serializeAs="String">
                <value>KLOG</value>
            </setting>
            <setting name="SMTPNotifyTo" serializeAs="String">
                <value>dialtp@dmdstore.it</value>
            </setting>
            <setting name="SMTPSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Flags" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogEvery" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="ServersList" serializeAs="String">
                <value>https://www.dmdstore.it</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value/>
            </setting>
        </minidom.PBX.My.MySettings>
    </applicationSettings>
</configuration>
